/** @format */
body {
  overflow-x: hidden;
  font-family: Open Sans;
  margin: 0;
  padding: 0;
}

body .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

body .header .logoimg {
  width: 25vh;
  margin: 20px;
  margin-top: 43px;
}

body .header ul {
  font-family: Raleway;
  margin-left: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body .header ul li {
  margin-top: 40px;
  list-style-type: none;
  width: 100px;
}

body .header ul li a {
  padding: 10px;
  text-decoration: none;
  color: black;
  font-size: 20px;
}

body .sec1 {
  text-align: center;
}

body .sec1 .illustration1 {
  width: 80vh;
  margin: 10px;
  margin-top: 100px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

body .sec1 .txt {
  display: -ms-grid;
  display: grid;
}

body .sec1 .txt .firsttxt {
  position: relative;
  left: 100px;
  font-size: 30px;
  text-align: center;
  color: #070439;
}

body .sec1 .txt .secondtxt {
  position: relative;
  left: 100px;
  font-size: 18px;
  margin-top: 50px;
}

body .sec1 .txt .searcharea {
  display: -ms-grid;
  display: grid;
  margin-top: 20px;
}

body .sec1 .txt .searcharea #sa {
  width: 340px;
  height: 40px;
  position: relative;
  left: 110px;
  text-align: left;
  border-color: black;
}

body .sec1 .txt .searcharea .gs {
  text-decoration: none;
  width: 320px;
  height: 30px;
  position: relative;
  left: 110px;
  text-align: center;
  margin-top: 20px;
  border-radius: 2px;
  color: white;
  padding: 10px;
  background-color: #3065f8;
}

body .sec2 .sec2txt {
  position: relative;
  left: 100px;
  margin-top: 100px;
}

body .sec2 .sec2txt .txt2 {
  width: 400px;
  margin-top: 50px;
  font-size: 25px;
  position: relative;
  bottom: 50px;
}

body .sec2 .sec2txt .txt3 {
  font-size: 20px;
  position: relative;
  bottom: 40px;
  font-weight: 200;
}

body .sec2 .sec2txt .this {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 10px;
  margin-bottom: 40px;
  text-align: center;
  position: relative;
  left: 100px;
}

body .sec2 .sec2txt .gridsection {
  margin-top: 20px;
  width: 380px;
  position: relative;
  right: 18px;
  padding: 10px;
  margin-right: 50px;
  height: 220px;
  background-color: white;
  -webkit-box-shadow: 0 0 10px black;
          box-shadow: 0 0 10px black;
}

body .sec2 .sec2txt .gridsection .quote {
  position: relative;
  padding-bottom: 25px;
  padding-left: 12px;
  padding-top: 12px;
  width: 17px;
}

body .sec2 .sec2txt .gridsection .gridtxt {
  left: 10px;
  font-size: 18px;
  text-align: center;
  position: relative;
  bottom: 5px;
  font-weight: 500;
}

body .sec2 .sec2txt .gridsection .profile {
  position: relative;
  left: 15px;
  top: 7px;
}

body .sec2 .sec2txt .gridsection .profile .at {
  position: relative;
  top: 20px;
  border-radius: 50%;
  width: 40px;
}

body .sec2 .sec2txt .gridsection .profile .profilenm .st {
  position: relative;
  left: 43px;
  font-weight: 200;
}

body .sec2 .illustration2 {
  width: 80vh;
  margin: 10px;
  margin-top: 100px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}
/*# sourceMappingURL=style.css.map */