/** @format */
$fs: 20px;
$hfontmobile: 400;
$hfontpc: 700;
$bodyweightG: 400;
$hfont: Raleway;
$bfont: Open Sans;
$vdb: hsl(243, 87%, 12%);
$dsb: hsl(238, 22%, 44%);
$bb: hsl(224, 93%, 58%);
$mc: hsl(170, 45%, 43%);
$lgb: hsl(240, 75%, 98%);
$lg: hsl(0, 0%, 75%);
body {
    overflow-x: hidden;
    width: 375px;
    font-family: $bfont;
    margin: 0;
    padding: 0;
    .header {
        display: flex;
        width: 100%;
        .logoimg {
            width: 12vh;
            margin: 20px;
            margin-top: 45px;
        }
        ul {
            font-family: $hfont;
            margin-left: -32px;
            display: inline-flex;
            justify-content: space-between;
            li {
                margin-top: 29px;
                margin-left: 13px;
                list-style-type: none;

                a {
                    text-decoration: none;
                    color: black;
                    font-size: 12px;
                    padding: 10px;
                    width: 100%;
                }
            }
        }
    }
    .sec1 {
        text-align: center;
        .illustration1 {
            width: 100%;
            margin-top: 60px;
            align-self: center;
        }
        .txt {
            display: grid;
            .firsttxt {
                width: 210px;
                position: relative;
                left: 55px;
                font-size: 18px;
                text-align: center;
                color: $vdb;
            }
            .secondtxt {
                position: relative;
                font-size: 10px;
                width: 220px;
                left: 55px;
                margin-top: 20px;
            }
            .searcharea {
                display: grid;
                margin-left: 35px;
                margin-top: 20px;
                #sa {
                    width: 270px;
                    height: 30px;
                    position: relative;
                    text-align: left;
                }
                .gs {
                    text-decoration: none;
                    width: 250px;
                    height: 20px;
                    position: relative;
                    text-align: center;
                    margin-top: 20px;
                    border-radius: 2px;
                    color: white;
                    padding: 10px;
                    background-color: $bb;
                }
            }
        }
    }
    .sec2 {
        background-color: $lgb;
        width: 100%;
        height: 1000px;
        .sec2txt {
            position: relative;
            width: 100%;
            padding: 10px;
            margin-top: 100px;

            .txt2 {
                width: 400px;
                margin-top: 30px;
                font-size: 20px;
                position: relative;
                bottom: 50px;
            }
            .txt3 {
                font-size: 12px;
                position: relative;
                bottom: 20px;
                font-weight: 200;
            }
            .this {
                display: flex;
                margin-top: 10px;
                margin-bottom: 40px;
                text-align: center;
                position: relative;
                left: 100px;
            }
            .gridsection {
                margin-top: 20px;
                width: 280px;
                position: relative;
                right: 18px;
                padding: 10px;
                margin-left: 42px;
                height: 180px;
                background-color: white;
                box-shadow: 0 0 10px black;
                .quote {
                    position: relative;
                    padding-bottom: 15px;
                    padding-left: 12px;
                    padding-top: 12px;
                    width: 17px;
                }
                .gridtxt {
                    left: 10px;
                    font-size: 14px;
                    text-align: center;
                    position: relative;
                    bottom: 5px;
                    font-weight: 500;
                }
                .profile {
                    position: relative;
                    left: 15px;
                    top: 4px;
                    .at {
                        position: relative;
                        top: 20px;
                        border-radius: 50%;
                        width: 40px;
                    }
                    .profilenm {
                        .st {
                            position: relative;
                            left: 43px;
                            font-weight: 200;
                        }
                    }
                }
            }
        }
        .illustration2 {
            width: 100%;
            margin: 10px;
            margin-top: 100px;
        }
    }
    .sec3 {
        background-color: $dsb;
        color: white;
        width: 100%;
        height: 400px;
        .txt {
            padding: 20px;
            .big1 {
                position: relative;
                top: 50px;
                left: 55px;
                font-weight: 1000;
                font-size: 22px;
                text-align: center;
                padding-top: 120px;
            }
        }
        .o1 {
            font-size: 13px;
            font-weight: 500;
            position: relative;
            left: 10px;
            top: 100px;
            text-align: center;
        }
        .ta {
            position: relative;
            top: 140px;
            display: grid;
            margin-left: 35px;
            #sa2 {
                width: 270px;
                height: 30px;
            }
            .gsff {
                text-decoration: none;
                width: 250px;
                height: 20px;
                position: relative;
                text-align: center;
                margin-top: 20px;
                border-radius: 2px;
                color: white;
                padding: 10px;
                background-color: $bb;
            }
        }
    }
}
